.container {
  max-width: 1440px;
  margin: 0 auto;
}

.edittedAt {
  font-size: 0.875rem;
  margin-top: 16px;
  time {
    color: var(--gray-700);
    font-style: italic;
  }
}

.post {
  max-width: 720px;
  margin: 80px auto 0;

  header {
    h1 {
      color: var(--gray-100);
    }

    span {
      color: var(--gray-700);
      display: flex;
      margin-top: 24px;
      align-items: center;

      svg {
        margin-right: 8px;
      }

      p {
        display: flex;
        align-items: center;
        margin-left: 24px;
        margin-right: 24px;
      }

      time {
        display: flex;
        align-items: center;
      }
    }
  }

  div {
    h1 {
      color: var(--gray-100);
      margin-bottom: 64px;
      margin-top: 64px;
    }

    p,
    li {
      line-height: 140%;
      font-size: 1.125rem;
      text-align: justify;
      color: var(--gray-300);

      & {
        margin-top: 24px;
      }
    }

    a {
      color: var(--pink-500);
    }
  }
}

.footer {
  margin-top: 60px;
  border-top: 1px solid var(--gray-700);

  div {
    margin-top: 48px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    word-wrap: inherit;

    a {
      margin-bottom: 6rem;
      max-width: 236px;
      max-height: 48px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & + a {
        align-items: flex-end;
      }

      abbr {
        line-height: 1.188rem;
        font-size: 1.125rem;
        letter-spacing: -0.5px;
        color: var(--gray-300);
      }

      p {
        font-size: 1rem;
        font-weight: 600;
        color: var(--pink-500);
      }
    }
  }
}

.comments {
  margin-top: 6rem;
}
